<div>
    <h2 id="page-heading">
        <span>Descriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-description" [routerLink]="['/description/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Description
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="descriptions?.length === 0">
        <span>No descriptions found</span>
    </div>
    <div class="table-responsive" *ngIf="descriptions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="customerId"><span>Customer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="invoiceId"><span>Invoice Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sphLeft"><span>Sph Left</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cylLeft"><span>Cyl Left</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="axisLeft"><span>Axis Left</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="readingLeft"><span>Reading Left</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sphRight"><span>Sph Right</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cylRight"><span>Cyl Right</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="axisRight"><span>Axis Right</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="readingRight"><span>Reading Right</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orderDate"><span>Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deleveryDate"><span>Delevery Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orderNo"><span>Order No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="frame"><span>Frame</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modelNo"><span>Model No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="size"><span>Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="colour"><span>Colour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lType"><span>L Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th scope="col"  jhiSortBy="lSize"><span>L Size</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th scope="col"  jhiSortBy="pd"><span>Pd</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th scope="col"  jhiSortBy="inset"><span>Inset</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th scope="col"  jhiSortBy="remarks"><span>Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let description of descriptions ;trackBy: trackId">
                <td><a [routerLink]="['/description', description.id, 'view' ]">{{description.id}}</a></td>
                <td>{{description.customerId}}</td>
                <td>{{description.invoiceId}}</td>
                <td>{{description.sphLeft}}</td>
                <td>{{description.cylLeft}}</td>
                <td>{{description.axisLeft}}</td>
                <td>{{description.readingLeft}}</td>
                <td>{{description.sphRight}}</td>
                <td>{{description.cylRight}}</td>
                <td>{{description.axisRight}}</td>
                <td>{{description.readingRight}}</td>
                <td>{{description.orderDate | date:'medium'}}</td>
                <td>{{description.deleveryDate | date:'medium'}}</td>
                <td>{{description.orderNo}}</td>
                <td>{{description.frame}}</td>
                <td>{{description.modelNo}}</td>
                <td>{{description.size}}</td>
                <td>{{description.colour}}</td>
                <td>{{description.lType}}</td>
                <td>{{description.lSize}}</td>
                <td>{{description.pd}}</td>
                <td>{{description.inset}}</td>
                <td>{{description.name}}</td>
                <td>{{description.remarks}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/description', description.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/description', description.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/description', { outlets: { popup: description.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="descriptions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
