<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="items">
            <h2><span>Items</span> {{items.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Id</span></dt>
                <dd>
                    <span>{{items.invoiceId}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{items.description}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{items.quantity}}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{items.rate}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{items.amount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/items', items.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
