<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dailyLog">
            <h2><span>Daily Log</span> {{dailyLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{dailyLog.createdDate}}</span>
                </dd>
                <dt><span>Rx</span></dt>
                <dd>
                    <span>{{dailyLog.rx}}</span>
                </dd>
                <dt><span>Invoice Id</span></dt>
                <dd>
                    <span>{{dailyLog.invoiceId}}</span>
                </dd>
                <dt><span>Soldering Job Invoice Id</span></dt>
                <dd>
                    <span>{{dailyLog.solderingJobInvoiceId}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <span>{{dailyLog.customer}}</span>
                </dd>
                <dt><span>Customer Id</span></dt>
                <dd>
                    <span>{{dailyLog.customerId}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{dailyLog.description}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{dailyLog.amount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/daily-log', dailyLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
