<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-daily-log-heading">Create or edit a Daily Log</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="input-group">
                        <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" formControlName="createdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rx">Rx</label>
                    <input type="number" class="form-control" name="rx" id="field_rx"
                           formControlName="rx"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceId">Invoice Id</label>
                    <input type="text" class="form-control" name="invoiceId" id="field_invoiceId"
                           formControlName="invoiceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_solderingJobInvoiceId">Soldering Job Invoice Id</label>
                    <input type="text" class="form-control" name="solderingJobInvoiceId" id="field_solderingJobInvoiceId"
                           formControlName="solderingJobInvoiceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <input type="text" class="form-control" name="customer" id="field_customer"
                           formControlName="customer"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerId">Customer Id</label>
                    <input type="text" class="form-control" name="customerId" id="field_customerId"
                           formControlName="customerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
